In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    "Name":["David","Samuel","Terry","Evan"],
    "Age":[27,24,22,32],
    "Country":["UK","Canada","China","USA"],
    "Course":["Python","Data Strucures","Machine Learning","Web Development"],
    "Marks":[85,72,89,76]
})
df.head()

     Name  Age Country            Course  Marks
0   David   27      UK            Python     85
1  Samuel   24  Canada    Data Strucures     72
2   Terry   22   China  Machine Learning     89
3    Evan   32     USA   Web Development     76

In [3]:
df.loc[0:2]

     Name  Age Country            Course  Marks
0   David   27      UK            Python     85
1  Samuel   24  Canada    Data Strucures     72
2   Terry   22   China  Machine Learning     89

In [4]:
df.iloc[0:2]

     Name  Age Country          Course  Marks
0   David   27      UK          Python     85
1  Samuel   24  Canada  Data Strucures     72

In [5]:
df.set_index("Name",inplace=True)

In [6]:
df.loc['David','Age']

27

In [7]:
df["Age"]

Name
David     27
Samuel    24
Terry     22
Evan      32
Name: Age, dtype: int64

In [8]:
df[["Age"]]

        Age
Name
David    27
Samuel   24
Terry    22
Evan     32

In [9]:
df.loc[["David","Samuel","Evan"],["Age","Country"]]

        Age Country
Name
David    27      UK
Samuel   24  Canada
Evan     32     USA

In [10]:
df2 = pd.read_csv("./docs/TopSellingAlbums.csv")
df2

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0
5,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5
6,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0
7,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5

In [11]:
df2.iloc[0,1]

'Thriller'

In [12]:
df2.index = ['a','b','c','d','e','f','g','h']
df2.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], dtype='object')

In [13]:
df2.reset_index(drop=True,inplace=True)
df2.index

RangeIndex(start=0, stop=8, step=1)

In [14]:
df2.iloc[3,1] = np.nan

In [15]:
df2['Album'].dropna(inplace=True)

In [16]:
df2 = df2[df2['Album'].notna()]

In [17]:
df2

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0
5,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5
6,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0
7,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5

In [18]:
df2.loc[:,'Album'] = df2.loc[:,'Album'].str.replace("(","")

In [34]:
df2.loc[:,'Album'] = df2.loc[:,'Album'].str.replace("19711975","").str.replace("-","")

In [35]:
df2

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0
5,Eagles,Their Greatest Hits,1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5
6,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0
7,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5

In [28]:
list(df2.columns)

['Artist',
 'Album',
 'Released',
 'Length',
 'Genre',
 'Music Recording Sales (millions)',
 'Claimed Sales (millions)',
 'Released.1',
 'Soundtrack',
 'Rating']

In [41]:
df2.columns = ['Artist',
 'Album',
 'Released_Year',
 'Length',
 'Genre',
 'Music Recording Sales (millions)',
 'Claimed Sales (millions)',
 'Released',
 'Soundtrack',
 'Rating']

In [42]:
df2

,Artist,Album,Released_Year,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0
5,Eagles,Their Greatest Hits,1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5
6,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0
7,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5

In [46]:
df2.loc[:,'Released']

0    30 Nov 82
1    25 Jul 80
2    01 Mar 73
4    21 Oct 77
5    17 Feb 76
6    15 Nov 77
7    04 Feb 77
Name: Released, dtype: object

In [44]:
df2.loc[:,'Released'] = df2.loc[:,'Released'].str.replace("-"," ")
df2

,Artist,Album,Released_Year,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30 Nov 82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25 Jul 80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01 Mar 73,NaN,9.0
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21 Oct 77,NaN,8.0
5,Eagles,Their Greatest Hits,1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17 Feb 76,NaN,7.5
6,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15 Nov 77,Y,7.0
7,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04 Feb 77,NaN,6.5

In [45]:
df2.loc[:,'Released'] = df2.loc[:,'Released'].str.lstrip(" ")
df2

,Artist,Album,Released_Year,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30 Nov 82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25 Jul 80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01 Mar 73,NaN,9.0
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21 Oct 77,NaN,8.0
5,Eagles,Their Greatest Hits,1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17 Feb 76,NaN,7.5
6,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15 Nov 77,Y,7.0
7,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04 Feb 77,NaN,6.5