In [ ]:
import sqlite3

In [ ]:
con = sqlite3.connect("example.db")

In [ ]:
cur_obj = con.cursor()

In [ ]:
cur_obj.execute("CREATE TABLE CUSTOMER(ID INTEGER PRIMARY KEY, \
FNAME VARCHAR(10),LNAME VARCHAR(10),PHONE CHAR(10))")

In [ ]:
cur_obj.execute("INSERT INTO CUSTOMER(ID,FNAME,LNAME,PHONE) VALUES \
(1,'MAX','DUNCAN','2345566778'),(2,'CLARA','DAWSON','4567433945')")

In [ ]:
cur_obj.execute("SELECT * FROM CUSTOMER")
D = cur_obj.fetchall()

In [ ]:
for row in D:
    print(row)

In [ ]:
import pandas as pd
df  = pd.read_sql_query("SELECT * FROM CUSTOMER;",con)

In [ ]:
df

In [ ]:
con.close()

---

---

In [ ]:
import ibm_db

In [ ]:
dsn_hostname = "2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud"
dsn_uid = "djg74088"        
dsn_pwd = "BWopbaIkKGfj6Kio"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"      
dsn_port = "30756"          
dsn_protocol = "TCPIP"      
dsn_security = "SSL"

In [ ]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

#print the connection string to check correct values are specified
print(dsn)

In [ ]:
try:
   con=ibm_db.connect(dsn,"","")
   print("Connection successful!")
except:
    print("Unable to connect")

In [ ]:
server = ibm_db.server_info(con)

In [ ]:
print(server.DBMS_NAME)
print(server.DBMS_VER)
print(server.DB_CODEPAGE)
print(server.DB_NAME)

In [ ]:
client = ibm_db.client_info(con)

In [ ]:
print(client.DATA_SOURCE_NAME)
print(client.DRIVER_NAME)
print(client.DRIVER_VER)
print(client.DRIVER_ODBC_VER)
print(client.APPL_CODEPAGE)
print(client.CONN_CODEPAGE)

---

---

In [ ]:
import ibm_db

In [ ]:
dsn_hostname = "2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud"
dsn_port = "30756"          
dsn_username = "djg74088"        
dsn_password = "BWopbaIkKGfj6Kio"
dsn_security = "SSL"
dsn_database = "BLUDB"
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_protocol = "TCPIP"

In [ ]:
dsn = (
"DRIVER={0};"
"DATABASE={1};"
"HOSTNAME={2};"
"PORT={3};"
"UID={4};"
"PWD={5};"
"SECURITY={6};"
"PROTOCOL={7};"
).format(dsn_driver,dsn_database,dsn_hostname,dsn_port,dsn_username,dsn_password,dsn_security,dsn_protocol)

In [ ]:
try:
    con=ibm_db.connect(dsn,"","")
    print("connection successful")
except:
    print("unable to connect")

In [ ]:
dropQuery = "DROP TABLE CUSTOMER IF EXISTS;"
dropStmt = ibm_db.exec_immediate(con,dropQuery)

In [ ]:
createQuery = "CREATE TABLE CUSTOMER(ID INTEGER PRIMARY KEY NOT NULL, \
FNAME VARCHAR(10),LNAME VARCHAR(10),PHONE CHAR(10))"

createStmt = ibm_db.exec_immediate(con,createQuery)

In [ ]:
insertQuery = "INSERT INTO CUSTOMER(ID,FNAME,LNAME,PHONE) VALUES \
(1,'MAX','DUNCAN','2345566778'),(2,'CLARA','DAWSON','4567433945')"

insertStmt = ibm_db.exec_immediate(con,insertQuery)

In [ ]:
selectQuery = "SELECT * FROM CUSTOMER;"

selectStmt = ibm_db.exec_immediate(con,selectQuery)

In [ ]:
while ibm_db.fetch_row(selectStmt) != False:
    print(ibm_db.result(selectStmt,0),ibm_db.result(selectStmt,1),ibm_db.result(selectStmt,2),ibm_db.result(selectStmt,3))

In [ ]:
import pandas as pd
import ibm_db_dbi
pcon = ibm_db_dbi.Connection(con)
df = pd.read_sql_query(selectQuery,pcon,index_col='ID')

In [ ]:
df

In [ ]:
df.iloc[0,1]

---
---

In [ ]:
%load_ext sql

In [ ]:
import sqlite3
con = sqlite3.connect('example.db')
cur_obj = con.cursor()

In [ ]:
%sql sqlite:///example.db

In [ ]:
%sql DROP TABLE INTERNATIONAL_STUDENT_TEST_SCORES;

In [ ]:
%%sql 
CREATE TABLE INTERNATIONAL_STUDENT_TEST_SCORES (
	country VARCHAR(50),
	first_name VARCHAR(50),
	last_name VARCHAR(50),
	test_score INT
);
INSERT INTO INTERNATIONAL_STUDENT_TEST_SCORES (country, first_name, last_name, test_score)
VALUES
('United States', 'Marshall', 'Bernadot', 54),
('Ghana', 'Celinda', 'Malkin', 51),
('Ukraine', 'Guillermo', 'Furze', 53),
('Greece', 'Aharon', 'Tunnow', 48),
('Russia', 'Bail', 'Goodwin', 46),
('Poland', 'Cole', 'Winteringham', 49),
('Sweden', 'Emlyn', 'Erricker', 55),
('Russia', 'Cathee', 'Sivewright', 49),
('China', 'Barny', 'Ingerson', 57),
('Uganda', 'Sharla', 'Papaccio', 55),
('China', 'Stella', 'Youens', 51),
('Poland', 'Julio', 'Buesden', 48),
('United States', 'Tiffie', 'Cosely', 58),
('Poland', 'Auroora', 'Stiffell', 45),
('China', 'Clarita', 'Huet', 52),
('Poland', 'Shannon', 'Goulden', 45),
('Philippines', 'Emylee', 'Privost', 50),
('France', 'Madelina', 'Burk', 49),
('China', 'Saunderson', 'Root', 58),
('Indonesia', 'Bo', 'Waring', 55),
('China', 'Hollis', 'Domotor', 45),
('Russia', 'Robbie', 'Collip', 46),
('Philippines', 'Davon', 'Donisi', 46),
('China', 'Cristabel', 'Radeliffe', 48),
('China', 'Wallis', 'Bartleet', 58),
('Moldova', 'Arleen', 'Stailey', 38),
('Ireland', 'Mendel', 'Grumble', 58),
('China', 'Sallyann', 'Exley', 51),
('Mexico', 'Kain', 'Swaite', 46),
('Indonesia', 'Alonso', 'Bulteel', 45),
('Armenia', 'Anatol', 'Tankus', 51),
('Indonesia', 'Coralyn', 'Dawkins', 48),
('China', 'Deanne', 'Edwinson', 45),
('China', 'Georgiana', 'Epple', 51),
('Portugal', 'Bartlet', 'Breese', 56),
('Azerbaijan', 'Idalina', 'Lukash', 50),
('France', 'Livvie', 'Flory', 54),
('Malaysia', 'Nonie', 'Borit', 48),
('Indonesia', 'Clio', 'Mugg', 47),
('Brazil', 'Westley', 'Measor', 48),
('Philippines', 'Katrinka', 'Sibbert', 51),
('Poland', 'Valentia', 'Mounch', 50),
('Norway', 'Sheilah', 'Hedditch', 53),
('Papua New Guinea', 'Itch', 'Jubb', 50),
('Latvia', 'Stesha', 'Garnson', 53),
('Canada', 'Cristionna', 'Wadmore', 46),
('China', 'Lianna', 'Gatward', 43),
('Guatemala', 'Tanney', 'Vials', 48),
('France', 'Alma', 'Zavittieri', 44),
('China', 'Alvira', 'Tamas', 50),
('United States', 'Shanon', 'Peres', 45),
('Sweden', 'Maisey', 'Lynas', 53),
('Indonesia', 'Kip', 'Hothersall', 46),
('China', 'Cash', 'Landis', 48),
('Panama', 'Kennith', 'Digance', 45),
('China', 'Ulberto', 'Riggeard', 48),
('Switzerland', 'Judy', 'Gilligan', 49),
('Philippines', 'Tod', 'Trevaskus', 52),
('Brazil', 'Herold', 'Heggs', 44),
('Latvia', 'Verney', 'Note', 50),
('Poland', 'Temp', 'Ribey', 50),
('China', 'Conroy', 'Egdal', 48),
('Japan', 'Gabie', 'Alessandone', 47),
('Ukraine', 'Devlen', 'Chaperlin', 54),
('France', 'Babbette', 'Turner', 51),
('Czech Republic', 'Virgil', 'Scotney', 52),
('Tajikistan', 'Zorina', 'Bedow', 49),
('China', 'Aidan', 'Rudeyeard', 50),
('Ireland', 'Saunder', 'MacLice', 48),
('France', 'Waly', 'Brunstan', 53),
('China', 'Gisele', 'Enns', 52),
('Peru', 'Mina', 'Winchester', 48),
('Japan', 'Torie', 'MacShirrie', 50),
('Russia', 'Benjamen', 'Kenford', 51),
('China', 'Etan', 'Burn', 53),
('Russia', 'Merralee', 'Chaperlin', 38),
('Indonesia', 'Lanny', 'Malam', 49),
('Canada', 'Wilhelm', 'Deeprose', 54),
('Czech Republic', 'Lari', 'Hillhouse', 48),
('China', 'Ossie', 'Woodley', 52),
('Macedonia', 'April', 'Tyer', 50),
('Vietnam', 'Madelon', 'Dansey', 53),
('Ukraine', 'Korella', 'McNamee', 52),
('Jamaica', 'Linnea', 'Cannam', 43),
('China', 'Mart', 'Coling', 52),
('Indonesia', 'Marna', 'Causbey', 47),
('China', 'Berni', 'Daintier', 55),
('Poland', 'Cynthia', 'Hassell', 49),
('Canada', 'Carma', 'Schule', 49),
('Indonesia', 'Malia', 'Blight', 48),
('China', 'Paulo', 'Seivertsen', 47),
('Niger', 'Kaylee', 'Hearley', 54),
('Japan', 'Maure', 'Jandak', 46),
('Argentina', 'Foss', 'Feavers', 45),
('Venezuela', 'Ron', 'Leggitt', 60),
('Russia', 'Flint', 'Gokes', 40),
('China', 'Linet', 'Conelly', 52),
('Philippines', 'Nikolas', 'Birtwell', 57),
('Australia', 'Eduard', 'Leipelt', 53)

In [ ]:
score=38
%sql SELECT * FROM INTERNATIONAL_STUDENT_TEST_SCORES \
WHERE "test_score"=:score;

In [ ]:
Stmt = %sql SELECT TEST_SCORE,COUNT(*) AS TEST_FREQUENCY FROM INTERNATIONAL_STUDENT_TEST_SCORES \
GROUP BY TEST_SCORE;

In [ ]:
df = Stmt.DataFrame()
df.head()

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [ ]:
sns.barplot(y='test_score',x='TEST_FREQUENCY',data=df)

---
---

In [ ]:
%load_ext sql

In [ ]:
%sql ibm_db_sa://djg74088:BWopbaIkKGfj6Kio@2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30756/BLUDB?security=SSL

In [ ]:
%sql SELECT * FROM SYSCAT.COLUMNS WHERE "TABSCHEMA"='DJG74088' \
AND "TABNAME"='INTERNATIONAL_STUDENT_TEST_SCORES';

In [ ]:
%%sql 

CREATE TABLE INTERNATIONAL_STUDENT_TEST_SCORES (
	country VARCHAR(50),
	first_name VARCHAR(50),
	last_name VARCHAR(50),
	test_score INT
);

INSERT INTO INTERNATIONAL_STUDENT_TEST_SCORES (country, first_name, last_name, test_score)
VALUES
('United States', 'Marshall', 'Bernadot', 54),
('Ghana', 'Celinda', 'Malkin', 51),
('Ukraine', 'Guillermo', 'Furze', 53),
('Greece', 'Aharon', 'Tunnow', 48),
('Russia', 'Bail', 'Goodwin', 46),
('Poland', 'Cole', 'Winteringham', 49),
('Sweden', 'Emlyn', 'Erricker', 55),
('Russia', 'Cathee', 'Sivewright', 49),
('China', 'Barny', 'Ingerson', 57),
('Uganda', 'Sharla', 'Papaccio', 55),
('China', 'Stella', 'Youens', 51),
('Poland', 'Julio', 'Buesden', 48),
('United States', 'Tiffie', 'Cosely', 58),
('Poland', 'Auroora', 'Stiffell', 45),
('China', 'Clarita', 'Huet', 52),
('Poland', 'Shannon', 'Goulden', 45),
('Philippines', 'Emylee', 'Privost', 50),
('France', 'Madelina', 'Burk', 49),
('China', 'Saunderson', 'Root', 58),
('Indonesia', 'Bo', 'Waring', 55),
('China', 'Hollis', 'Domotor', 45),
('Russia', 'Robbie', 'Collip', 46),
('Philippines', 'Davon', 'Donisi', 46),
('China', 'Cristabel', 'Radeliffe', 48),
('China', 'Wallis', 'Bartleet', 58),
('Moldova', 'Arleen', 'Stailey', 38),
('Ireland', 'Mendel', 'Grumble', 58),
('China', 'Sallyann', 'Exley', 51),
('Mexico', 'Kain', 'Swaite', 46),
('Indonesia', 'Alonso', 'Bulteel', 45),
('Armenia', 'Anatol', 'Tankus', 51),
('Indonesia', 'Coralyn', 'Dawkins', 48),
('China', 'Deanne', 'Edwinson', 45),
('China', 'Georgiana', 'Epple', 51),
('Portugal', 'Bartlet', 'Breese', 56),
('Azerbaijan', 'Idalina', 'Lukash', 50),
('France', 'Livvie', 'Flory', 54),
('Malaysia', 'Nonie', 'Borit', 48),
('Indonesia', 'Clio', 'Mugg', 47),
('Brazil', 'Westley', 'Measor', 48),
('Philippines', 'Katrinka', 'Sibbert', 51),
('Poland', 'Valentia', 'Mounch', 50),
('Norway', 'Sheilah', 'Hedditch', 53),
('Papua New Guinea', 'Itch', 'Jubb', 50),
('Latvia', 'Stesha', 'Garnson', 53),
('Canada', 'Cristionna', 'Wadmore', 46),
('China', 'Lianna', 'Gatward', 43),
('Guatemala', 'Tanney', 'Vials', 48),
('France', 'Alma', 'Zavittieri', 44),
('China', 'Alvira', 'Tamas', 50),
('United States', 'Shanon', 'Peres', 45),
('Sweden', 'Maisey', 'Lynas', 53),
('Indonesia', 'Kip', 'Hothersall', 46),
('China', 'Cash', 'Landis', 48),
('Panama', 'Kennith', 'Digance', 45),
('China', 'Ulberto', 'Riggeard', 48),
('Switzerland', 'Judy', 'Gilligan', 49),
('Philippines', 'Tod', 'Trevaskus', 52),
('Brazil', 'Herold', 'Heggs', 44),
('Latvia', 'Verney', 'Note', 50),
('Poland', 'Temp', 'Ribey', 50),
('China', 'Conroy', 'Egdal', 48),
('Japan', 'Gabie', 'Alessandone', 47),
('Ukraine', 'Devlen', 'Chaperlin', 54),
('France', 'Babbette', 'Turner', 51),
('Czech Republic', 'Virgil', 'Scotney', 52),
('Tajikistan', 'Zorina', 'Bedow', 49),
('China', 'Aidan', 'Rudeyeard', 50),
('Ireland', 'Saunder', 'MacLice', 48),
('France', 'Waly', 'Brunstan', 53),
('China', 'Gisele', 'Enns', 52),
('Peru', 'Mina', 'Winchester', 48),
('Japan', 'Torie', 'MacShirrie', 50),
('Russia', 'Benjamen', 'Kenford', 51),
('China', 'Etan', 'Burn', 53),
('Russia', 'Merralee', 'Chaperlin', 38),
('Indonesia', 'Lanny', 'Malam', 49),
('Canada', 'Wilhelm', 'Deeprose', 54),
('Czech Republic', 'Lari', 'Hillhouse', 48),
('China', 'Ossie', 'Woodley', 52),
('Macedonia', 'April', 'Tyer', 50),
('Vietnam', 'Madelon', 'Dansey', 53),
('Ukraine', 'Korella', 'McNamee', 52),
('Jamaica', 'Linnea', 'Cannam', 43),
('China', 'Mart', 'Coling', 52),
('Indonesia', 'Marna', 'Causbey', 47),
('China', 'Berni', 'Daintier', 55),
('Poland', 'Cynthia', 'Hassell', 49),
('Canada', 'Carma', 'Schule', 49),
('Indonesia', 'Malia', 'Blight', 48),
('China', 'Paulo', 'Seivertsen', 47),
('Niger', 'Kaylee', 'Hearley', 54),
('Japan', 'Maure', 'Jandak', 46),
('Argentina', 'Foss', 'Feavers', 45),
('Venezuela', 'Ron', 'Leggitt', 60),
('Russia', 'Flint', 'Gokes', 40),
('China', 'Linet', 'Conelly', 52),
('Philippines', 'Nikolas', 'Birtwell', 57),
('Australia', 'Eduard', 'Leipelt', 53)

In [ ]:
country='ARGENTINA'
%sql SELECT * FROM INTERNATIONAL_STUDENT_TEST_SCORES \
WHERE UPPER("COUNTRY")=:country;

In [ ]:
stmt = %sql SELECT "TEST_SCORE" , COUNT(*) AS "FREQUENCY" FROM INTERNATIONAL_STUDENT_TEST_SCORES \
GROUP BY "TEST_SCORE";

In [ ]:
import pandas as pd
df = stmt.DataFrame()
df.head()

In [ ]:
import matplotlib.pyplot as plt
# %matplotlib inline
import seaborn as sns
plot = sns.barplot(x='test_score',y='frequency',data=df)
plt.setp(plot.get_xticklabels(),rotation=70)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
plot = sns.jointplot(x='test_score',y='frequency',data=df)

In [ ]:
stmt = %sql SELECT "COUNTRY",COUNT(*) AS "FREQUENCY_OF_TESTS" FROM INTERNATIONAL_STUDENT_TEST_SCORES \
GROUP BY "COUNTRY" \
ORDER BY "FREQUENCY_OF_TESTS" DESC \
LIMIT 10;

In [ ]:
df = stmt.DataFrame()
plot = sns.barplot(y='frequency_of_tests',x='country',data=df)
plt.setp(plot.get_xticklabels(),rotation=70)
plt.show()

In [ ]:
df = stmt.DataFrame()
plot = sns.swarmplot(y='frequency_of_tests',x='country',data=df)
plt.setp(plot.get_xticklabels(),rotation=70)
plt.show()

---
---

In [ ]:
import ibm_db

In [ ]:
dsn_hostname = "2f3279a5-73d1-4859-88f0-a6c3e6b4b907.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud"
dsn_uid = "djg74088"        
dsn_pwd = "BWopbaIkKGfj6Kio"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"      
dsn_port = "30756"          
dsn_protocol = "TCPIP"      
dsn_security = "SSL"   

dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

con = ibm_db.connect(dsn,"","")

In [ ]:
import pandas as pd
stmt = ibm_db.exec_immediate(con,"SELECT COUNT(*) FROM INTERNATIONAL_STUDENT_TEST_SCORES")
ibm_db.fetch_both(stmt)

In [ ]:
import ibm_db_dbi
pcon =  ibm_db_dbi.Connection(con)
df = pd.read_sql("SELECT * FROM INTERNATIONAL_STUDENT_TEST_SCORES",pcon)
df

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
plot = sns.barplot(x='COUNTRY',y='TEST_SCORE',data=df.iloc[1:20,])
plt.setp(plot.get_xticklabels(),rotation=70)
plt.show()

In [ ]:
df['TEST_SCORE'].describe()

In [ ]:
df['TEST_SCORE'].idxmin()

In [ ]:
# df.iloc[94,0]
df.at[25,'COUNTRY']

In [ ]:
plot = sns.set_style("whitegrid")
ax = sns.boxplot(x=df['TEST_SCORE'])

---
---

In [ ]:
%load_ext sql

In [ ]:
import sqlite3
con = sqlite3.connect('socioeconomic.db')
cur_obj = con.cursor()

In [ ]:
import pandas as pd
df = pd.read_csv("ChicagoCensusData.csv")
df.to_sql('socioeconomic.db',con,index=False,method='multi',if_exists='replace')

In [ ]:
df.head()

In [ ]:
%sql sqlite:///socioeconomic.db

In [ ]:
%sql SELECT * FROM PRAGMA_TABLE_INFO('socioeconomic.db')

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
plot = sns.jointplot(x='PER_CAPITA_INCOME',y='HARDSHIP_INDEX',data=df,kind='reg')